<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>View Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">View Cart</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="cartItems.length > 0; else emptyCart">
    <ion-item *ngFor="let item of cartItems">
      <ion-card>
        <ion-img [src]="item.image"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ item.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>₱{{ item.price }}</p>
          <ion-item>
            <ion-label>Quantity</ion-label>
            <ion-select [(ngModel)]="item.quantity" interface="popover">
              <ion-select-option *ngFor="let qty of quantities" [value]="qty">{{ qty }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button expand="block" color="danger" (click)="removeFromCart(item)">Remove</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ng-template #emptyCart>
    <ion-item>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-label>Your cart is empty.</ion-label>
    </ion-item>
  </ng-template>

  <ion-footer *ngIf="cartItems.length > 0">
    <ion-toolbar>
      <ion-title>Total: ₱{{ getTotalPrice() }}</ion-title>
      <ion-button expand="block" color="primary" (click)="proceedToCheckout()">Proceed to Checkout</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
