<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Track Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Track Order</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let order of orders">
      <ion-card-header>
        <ion-card-title>{{ order.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="order.image"></ion-img>
        <p>Status: {{ order.status }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
