<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Order Placed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Order Placed</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <p>Your order has been successfully placed!</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="primary" (click)="returnHome()">Return Home</ion-button>
</ion-content>
