<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Checkout</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Payment Method</ion-label>
        <ion-select placeholder="Select payment method" [(ngModel)]="paymentMethod">
          <ion-select-option value="card">Credit/Debit Card</ion-select-option>
          <ion-select-option value="gcash">GCash</ion-select-option>
          <ion-select-option value="cod">Cash on Delivery</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of checkoutItems">
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="item.image"></ion-img>
      <p>₱{{ item.price }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="primary" (click)="submitOrder()">Submit Order</ion-button>
</ion-content>
